.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: auto;
}


.input-field {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



header, section, article, footer {
    cursor: pointer;
}

.options-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 9999;
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
}



.editable-content {
    border: 1px solid;
    padding: 10px;
}

.class-select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editable-wrapper {
    margin-bottom: 30px;
}

.class-select-wrapper {
    margin-bottom: 40px;
}

.edit-header {
    margin-bottom: 40px;
}

.hidden {
  display: none;
}